{{define "header"}}
<header>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">Videoso</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li id="login-link" style="display: none;"><a href="/login">Log in</a></li>
				<li id="logout-link" style="display: none;"><a href="#">Log out</a></li>
			</ul>
		</div>
	</nav>
</header>
{{end}}
