<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Videoso</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Videoso CSS -->
		<link rel="stylesheet" href="/f/videoso.css">
	</head>

	<body>
		{{template "header"}}
		<div class="container">
			<div class="row">
				<section id="login-tabs-section" class="col-sm-6 col-sm-offset-3" style="display: none;">
					<ul class="login-tabs-nav nav nav-tabs nav-justified">
						<li>
							<a href="#" id="login-section-link">Log in</a>
						</li>
						<li>
							<a href="#" id="register-section-link">Register</a>
						</li>
					</ul>
					<section id="login-register-section">
						<div id="login-section-error" class="login-section-only alert alert-danger" style="display: none;"></div>
						<div id="register-section-error" class="register-section-only alert alert-danger" style="display: none;"></div>
						<form>
							<div class="form-group">
								<input type="email" maxlength="254" required name="emailAddress" class="form-control" placeholder="Email address">
							</div>
							<div class="form-group">
								<input type="password" maxlength="1024" required name="password" class="form-control" placeholder="Password">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
							</div>
							<div class="login-section-only form-group">
								<a href="#" id="forgot-password-link">Forgot your password?</a>
							</div>
						</form>
					</section>
				</section>
				<section id="forgot-password-section" class="col-sm-6 col-sm-offset-3" style="display: none;">
					<section id="forgot-password-send-section">
						<h1>Forgot your password?</h1>
						<p>We can send you an email containing instructions for resetting your password.</p>
						<div id="forgot-password-send-section-error" class="alert alert-danger" style="display: none;"></div>
						<form>
							<div class="form-group">
								<input type="email" maxlength="254" required name="emailAddress" class="form-control" placeholder="Email address">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-lg btn-block">Send email</button>
							</div>
							<div class="form-group">
								<a href="#" id="back-to-login-link">Back to login</a>
							</div>
						</form>
					</section>
					<section id="forgot-password-sent-section">
						<h1>Email sent!</h1>
						<p>We've sent you an email containing instructions for resetting your password. It should arrive within the next few minutes.</p>
						<p>If you do not receive an email, be sure to check your spam folder.</p>
						<a href="/" class="btn btn-default btn-lg btn-block">Back to home</a>
					</section>
				</section>
			</div>
		</div>

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Bootstrap JS -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<!-- Videoso JS -->
		{{template "js-helpers"}}
		<script src="/f/authentication.js"></script>
		<script src="/f/header.js"></script>
		<script>
		function enableLoginTabsSection() {
			$('#login-tabs-section').show();
		}
		function disableLoginTabsSection() {
			$('#login-tabs-section').hide();
		}
		function enableLoginSection() {
			$('#login-register-section').show();
			$('.login-section-only').show();
			$('#login-section-error').hide();
			$('#login-section-link').closest('li').addClass('active');
			$('#login-register-section').find('[type=submit]').val('Log in');
		}
		function disableLoginSection() {
			$('#login-register-section').hide();
			$('.login-section-only').hide();
			$('#login-section-link').closest('li').removeClass('active');
		}
		function enableRegisterSection() {
			$('#login-register-section').show();
			$('.register-section-only').show();
			$('#register-section-error').hide();
			$('#register-section-link').closest('li').addClass('active');
			$('#login-register-section').find('[type=submit]').val('Register');
		}
		function disableRegisterSection() {
			$('#login-register-section').hide();
			$('.register-section-only').hide();
			$('#register-section-link').closest('li').removeClass('active');
		}
		function enableForgotPasswordSection() {
			$('#forgot-password-section').show();
		}
		function disableForgotPasswordSection() {
			$('#forgot-password-section').hide();
		}
		function enableForgotPasswordSendSection() {
			$('#forgot-password-send-section').show();
			$('#forgot-password-send-section-error').hide();
		}
		function disableForgotPasswordSendSection() {
			$('#forgot-password-send-section').hide();
		}
		function enableForgotPasswordSentSection() {
			$('#forgot-password-sent-section').show();
		}
		function disableForgotPasswordSentSection() {
			$('#forgot-password-sent-section').hide();
		}

		var loginPath = '/login';
		var registerPath = '/register';
		var forgotPasswordPath = '/forgot-password';
		var currentPath = null;
		var pathToTitle = {};
		pathToTitle[loginPath] = 'Log in | Videoso';
		pathToTitle[registerPath] = 'Register | Videoso';
		pathToTitle[forgotPasswordPath] = 'Forgot password | Videoso';
		function addPathToHistory(path) {
			window.history.pushState(null, pathToTitle[path], path);
			document.title = pathToTitle[path];
		}
		function loadPath(path) {
			document.title = pathToTitle[path];
			if (path === loginPath) {
				disableForgotPasswordSection();
				disableRegisterSection();
				enableLoginSection();
				enableLoginTabsSection();
			} else if (path === registerPath) {
				disableForgotPasswordSection();
				disableLoginSection();
				enableRegisterSection();
				enableLoginTabsSection();
			} else if (path === forgotPasswordPath) {
				disableLoginTabsSection();
				disableForgotPasswordSentSection();
				enableForgotPasswordSendSection();
				enableForgotPasswordSection();
			}
			currentPath = path;
		};

		window.onpopstate = function(e) {
			var path = e.path[0].location.pathname;
			loadPath(path);
		};

		// This will be true whenever we are waiting for a server response, and
		// it will prevent link clicks that lead to other forms on the same page.
		// Example: Clicking the "Log in" tab after clicking "Register"
		var softLinksLock = false;
		function lockSoftLinks() {
			softLinksLock = true;
		}
		function unlockSoftLinks() {
			softLinksLock = false;
		}

		$('#login-section-link').click(function(e) {
			e.preventDefault();
			if (!softLinksLock) {
				loadPath(loginPath);
				addPathToHistory(loginPath);
			}
		});
		$('#register-section-link').click(function(e) {
			e.preventDefault();
			if (!softLinksLock) {
				loadPath(registerPath);
				addPathToHistory(registerPath);
			}
		});
		$('#forgot-password-link').click(function(e) {
			e.preventDefault();
			if (!softLinksLock) {
				loadPath(forgotPasswordPath);
				addPathToHistory(forgotPasswordPath);
			}
		});
		$('#back-to-login-link').click(function(e) {
			e.preventDefault();
			if (!softLinksLock) {
				loadPath(loginPath);
				addPathToHistory(loginPath);
			}
		});
		function onLoginSectionSubmit($form) {
			lockSoftLinks();

			var emailAddress = $form.find('[name=emailAddress]').val();
			var password = $form.find('[name=password]').val();
			//$(this).find('[name=password]').val('');

			var $submit = $form.find('[type=submit]');
			var originalSubmitVal = $submit.html();
			$submit.html('Logging in...');
			$submit.prop('disabled', true);

			var $error = $('#login-section-error');
			$error.hide();

			login(emailAddress, password)
				.then(function() {
					window.location.href = '/';
				})
				.catch(function(err) {
					unlockSoftLinks();
					$submit.html(originalSubmitVal);
					$submit.prop('disabled', false);
					if (err instanceof NotFoundError) {
						$error.html("<strong>Oops!</strong> That email address isn't registered yet.");
						$error.show();
					} else if (err instanceof InvalidCredentialsError) {
						$error.html('<strong>Oops!</strong> That password is incorrect.');
						$error.show();
					} else {
						$error.html('<strong>Oops!</strong> There was an error while logging in. Please try again.');
						$error.show();
					}
				});
		}
		function onRegisterSectionSubmit($form) {
			lockSoftLinks();

			var data = {
				emailAddress: $form.find('[name=emailAddress]').val(),
				password: $form.find('[name=password]').val(),
			};
			//$(this).find('[name=password]').val('');

			var $submit = $form.find('[type=submit]');
			var originalSubmitVal = $submit.html();
			$submit.html('Registering...');
			$submit.prop('disabled', true);

			var $error = $('#register-section-error');
			$error.hide();

			var p1 = $.post({{"/users" | makeApiUrl}}, JSON.stringify(data));
			p1.catch(function(jqXHR) {
				unlockSoftLinks();
				$submit.html(originalSubmitVal);
				$submit.prop('disabled', false);
				if (jqXHR.status === 409) {
					if (jqXHR.responseJSON.error === 'email address is taken') {
						$error.html('<strong>Oops!</strong> That email address is already registered.');
						$error.show();
						return;
					}
				}
				$error.html('<strong>Oops!</strong> There was an error during registration. Please try again later.');
				$error.show();
			});
			p1.then(function() {
				$submit.html('Logging in...');
				login(data.emailAddress, data.password)
					.then(function() {
						window.location.href = '/';
					})
					.catch(function() {
						unlockSoftLinks();
						$submit.html(originalSubmitVal);
						$submit.prop('disabled', false);
						$error.html('<strong>Oops!</strong> Your account was successfully created, but there was an error while logging in. Please try <a href="/login">logging in</a> again.');
						$error.show();
					});
			});
		}
		$('#login-register-section').find('form').submit(function(e) {
			e.preventDefault();
			if (currentPath === loginPath) {
				onLoginSectionSubmit($(this));
			} else if (currentPath === registerPath) {
				onRegisterSectionSubmit($(this));
			}
		});
		$('#forgot-password-send-section').find('form').submit(function(e) {
			e.preventDefault();
			lockSoftLinks();
			var data = {
				emailAddress: $(this).find('[name=emailAddress]').val()
			};
			var $error = $('#forgot-password-send-section-error');
			$error.hide();
			$.post({{"/user-password-resets" | makeApiUrl}}, JSON.stringify(data))
				.then(function() {
					unlockSoftLinks();
					disableForgotPasswordSendSection();
					enableForgotPasswordSentSection();
				})
				.catch(function() {
					unlockSoftLinks();
					$error.html('<strong>Oops!</strong> There was an error while requesting a password reset. Please try again later.');
					$error.show();
				});
		});

		loadPath(window.location.pathname);
		</script>
	</body>
</html>
