h1 {
    margin-bottom: 20px;
}

/*.topbar {
    height: 60px;
    background-color: #1C4666;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.topbar-title {
    color: white;
    font-size: 42px;
}
a.topbar-title:hover {
    color: #BBB;
}
.topbar-nav {
    display: inline-block;
    float: right;
    line-height: 20px;
}
.topbar-nav-link {
    color: white;
    font-size: 16px;
}
.nav > li > .topbar-nav-link:hover {
    color: #1C4666;
    background-color: white;
}*/

.login-tabs-nav {
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

ul#videoList {
    margin-top: -10px;
}

#videoList li {
    margin-top: 20px;
}

@media only screen and (max-width : 767px) {
    #videoList li {
	margin-bottom: 40px;
    }
}

#videoList li h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
